/* 改变主题色变量 */
$--color-primary: #cc0000;
$--color-success: #00acac;
$--color-info: lightblue;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";